{% extends 'app/base.html' %}

{% block msj_delete %}
<script>
    function eliminarProducto(id) {
        Swal.fire({
        title: '¿Estas Seguro?',
        text: "Tu no puedes deshacer esta acción..!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si, Eliminar..!'
        })
        .then(function(result) {
            if (result.isConfirmed) {
                window.location.href = "/eliminar-producto/"+id+"/"
            }
        })
    }
</script>
{% endblock %}

{% block contenido %}
{% load humanize %}
<div class="row">
    <div class="col"></div>  
    <div class="col-12 col-md-6">
        <div class="card">
            <div class="card-body">
                <h3>Listado de Productos</h3>
                <hr>
                <div class="table-responsive-sm">                   
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>Nombre</th>
                            <th>Category</th>
                            <th>Precio</th>
                            <th>Disponible</th>
                            <th>Opciones</th>
                        </tr>
                        {% for p in entity %}
                        <tr>
                            <td>{{p.nombre | title}}</td>
                            <td>{{p.category | capfirst}}</td>
                            <td>{{p.precio | intcomma }}</td>
                            <td>
                                {% if p.disponible %}
                                    Si
                                {% else %}
                                    No
                                {% endif %}
                            </td>
                            <td>
                                {% if perms.app1.change_producto %}
                                <a href="{% url 'modificar_producto' p.id %}" class= "btn btn-warning btn-sm">Editar</a>
                                {% endif %}
                                {% if perms.app1.delete_producto %}
                                <a href="#" onclick="eliminarProducto({{ p.id }})" class="btn btn-danger btn-sm">Eliminar</a>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </table>                   
                    <div>
                        {% include 'app/paginator.html' %}
                    </div>
                </div>
                <br>
                <div class="d-flex justify-content-center">
                    {% if perms.app1.add_producto %}
                    <a class="btn btn-primary btn-sm" href="{% url 'agregar_producto' %}">Crear un Producto</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>   
    <div class="col"></div>
</div>
{% endblock %}